<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="image-link">Button Color</label>
  <div class="slds-form-element__control">
      <input id="buttonColor" type="text" class="form-control" value="#0070d2" />
  </div>
</div>
