<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="eventDescription">Description</label>
  <div class="slds-form-element__control">
    <textarea id="eventDescription" class="slds-textarea" placeholder="Enter Event Description Details here...."></textarea>
  </div>
</div>
