<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="eventTitle">Event Title</label>
  <div class="slds-form-element__control">
    <input type="text" id="eventTitle" class="slds-input" placeholder="Title of the calendar event" />
  </div>
</div>
