<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="eventLocation">Location</label>
  <div class="slds-form-element__control">
    <input type="text" id="eventLocation" class="slds-input" placeholder="Event Location Details" />
  </div>
</div>
