<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="eventStart">Event Start</label>
  <div class="slds-form-element__control">
    <input type="text" id="eventStart" class="slds-input" placeholder="Please Select Date & Time" data-input>
  </div>
</div>
