<!DOCTYPE html>
<html lang="en">

<% include partials/header %>

<body class="slds-m-around_small">
  <% include partials/blockheader %>
  <div id="block-container">
    <div class="slds-text-heading_medium">Button Configuration</div>
    <% include partials/buttontext %>
    <% include partials/buttoncolor %>
    <hr />
    <div class="slds-text-heading_medium">Event Configuration</div>
    <% include partials/eventtitle %>
    <% include partials/startdate %>
    <% include partials/enddate %>
    <% include partials/description %>
    <% include partials/location %>
    <% include partials/spinner %>
    <% include partials/creationalert %>
    <% include partials/buildbutton %>
  </div>
  <script src="javascripts/blocksdk.js"></script>
  <script src="javascripts/bootstrap-colorpicker.min.js"></script>
  <script src="javascripts/main.js"></script>
</body>

</html>
